[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
mongoengine = "*"

[dev-packages]
ipython = "*"
pylint = "*"
requests = "*"

[requires]
python_version = "3.7"
